# IntelliJ IDEA settings
/.idea/
/*.iml
/.vscode/

# Gradle 관련 파일
.gradle/
gradle/
!gradle/wrapper/
!gradlew
!gradlew.bat

# Build artifacts
/build/
*/build/
out/

# 환경 설정 및 OS ###
*.log
*.swp
*.DS_Store
*.class
*.jar
